// Variables
$gray-light: #e7e7eb;
$gray:       #d3d3d3;
$blue:       #00458c;

h3.accordion-heading {
  width: 100%;
  padding: 0 !important;
  margin: 0;
  border: none;
  text-align: left;
}

button.accordion-toggle {
  width: 100%;
  border: none;
  text-align: left;
}

button.expand-all {
  margin: 5px 0;
  float: right;
}

.fau-glossar {
  margin-top: 50px;

  .letters {
    margin-bottom: 30px;
    text-align: center;

    li {
      display: inline-block;
      border: 1px solid $gray-light;
      color: $gray-light;
      vertical-align: middle;
      width: 26px;
      height: 26px;
      text-align: center;
      margin: 2px;
      border-radius: 4px;
      list-style-type: none;
      padding: 10px;

      a {
        text-decoration: none;
        outline: none;
      }

      &.filled {
        border-color: $gray;
        background: $gray;
        color: $blue;

        &:hover {
          background-color: $blue;

          a {
            background-color: $blue;
            color: #fff;
          }
        }
      }
    }
  }
}
